#contenedoruno{
	width: 50vw;
	height: 10vh;
	background-color: dodgerblue;
	margin: 20px;
	padding: 70px;
}
#dos{
	width: 30vw;
	height: 10vw;
	background-color: pink;
	margin: auto;
}
.tipoa{
	width: 40vw;
	height: 40vw;
	background-color: red;
	margin: 20vw;
}
#tres{
	width: 80vw;
	height:40vw;
	background-image: url("../img/paisaje.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20px;
}
.tipoa:hover{
	background-image: url("../img/paisaje.jpg");
	background-size: 100% 100%;

}
body{
	background: linear-gradient( 45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientes 15s ease infinite
}
@keyframes gradientes{
	0%{
		background-position: 0% 50%; 
	}
50%{
	background-position: 100% 50%;
}
100%{
	background-position: 0% 50%
}

}